.about-me{
    width:70%;
    background-color:#84BEB0;
    color:white;
    height:600px;
    border-radius:4px;
}

.home-bio{
    text-align: justify;
}

.bio{
    display:flex;
}

.img-laura{
    border-radius:50%;
}